h1{
    text-align: center;
}
body{
    background-image: url('https://cdn10.bigcommerce.com/s-hhbbk/products/876/images/38756/SRLA0001__79307.1580517618.1280.1280.png?c=2');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
color: aliceblue;
}